---
import { getBlogList, getCategoryList, getSettings } from "@libs/microcms";
import Layout from "@layouts/Layout.astro";
import BlogList from "@components/BlogList.astro";
import Pagination from "@components/Pagination.astro";
import CategoryList from "@components/CategoryList.astro";
import { LIMIT } from "@constants/index";
export const prerender = true;

const settings = await getSettings();

const { contents: blogs, totalCount } = await getBlogList({
  limit: LIMIT,
}).catch((e) => {
  console.error("❌ Failed to fetch blogs:", e);
  return { contents: [], totalCount: 0 };
});

const { contents: categories } = await getCategoryList();

const Meta = {
  title: settings?.title || "My Blog",
};
---

<Layout Meta={Meta}>
  <div class="space-y-8">
    <BlogList blogs={blogs} />
    <Pagination totalCount={totalCount} />
  </div>

  <div class="space-y-8">
    <CategoryList categories={categories} />
  </div>
</Layout>
